.body1
{
    background-color: peachpuff;
    width: auto;
}
.aselole{
    margin-top: -180px;
    margin-left: 250px;
    margin-right: 250px;
    margin-bottom: 200px;
    padding: 2%;
    background-color: skyblue;
}
